@import "tailwindcss";

@theme {
  --color-sunburst: #F8C61E;
  --color-pale-gold: #D8C495;
  --color-onyx: #222526;
  --color-graphite: #353A3E;
  --color-platinum: #E0E0E0;
  --color-jet-black: #1A1A1A;
  --color-ash: #BFBFBF;
  --color-cream: #F3EDE8;
  --color-light-almond: #EEE5DA;
  --color-deep-charcoal: #262424;
  --color-resolution-blue: #021C8B;
  --color-new-car: #1B52D7;
  --color-lavender-gray: #C0C7D3;
  --color-chinese-black: #13111F;
  --color-cosmic: #0C34E9;
  --color-midnight: #050170;
  --color-sapphire: #0908C3;
  --color-electric: #1586F5;
  --color-depth: #01001C;
  --color-royal-blue: #F6F4F0;
  --color-marigold: #E59D2C;
  --color-buff: #F3D58D;
  --color-pearl: #EBDDC5;
  --color-police-blue: #2E4365;
  --color-citrine-brown: #8A3B08;
  --font-dm: "DM Sans", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --text-3xl: 1.75rem;
  --text-7xl: 4rem;
  --breakpoint-xs: 30rem;
}

@layer base {
  h1 {
    font-size: min(max(40px, calc(2rem + (48 - 32) * ((100vw - 375px) / (768 - 375)))), 48px);
    font-family: var(--font-bricolage);
    line-height: 3rem;
  }

  h2 {
    font-size: min(max(40px, calc(2rem + (36 - 32) * ((100vw - 375px) / (768 - 375)))), 36px);
    /* font-family: var(--font-bricolage); */
  }

  h3 {
    font-size: var(--text-3xl);
    /* font-family: var(--font-bricolage); */
  }

  h4 {
    font-size: var(--text-xl);
    /* font-family: var(--font-bricolage); */
  }

  h5 {
    font-size: var(--text-lg);
    /* font-family: var(--font-bricolage); */
  }

  body {
    font-family: var(--font-dm);
  }

  button:hover {
    cursor: pointer;
  }
}